.section_title{
  margin-bottom: 3px;
}

#add-restaurant {
  #categories {
    list-style: none;

    .category-box {
      display: inline-block;
      width: 25%;
    }
  }

  #general-info{
    input{
      display: inline-block;
      vertical-align: top;
    }

    textarea{
      display: block;
    }

  }
  #categories-label {
    margin-top: 1em;
  }

  #restaurant-description {
    margin-top: 0.5em;
    resize: none;
    overflow-y: scroll;
  }

 #upload {
   margin-top: 0.5em;

   span {
     margin-right: 0.5em;
   }
 }

  #submit {
    margin-top: 0.5em;
    display: block;
  }
}

.hours {
  width: 3em;
}
