body {
  margin: 0;
  min-height: 100%;
}

.page_content{
  max-width: 90%;
  min-height: 90%;
  background: #EFF1D4 linear-gradient(to right, #f0e8da, #f0e8da, #EFF1D4, #f0e8da, #f0e8da);
  position: relative;
  padding: 1em;
  color: #555647;
  border: 1px solid #d8dac0;
  left: 4%;
  top: 3.5em;
}

.page_title {
  font-size: 1.5em;
  color: #2B2C24;
}

.section_title {
  font-size: 1.2em;
  color: #47483E;
  border-bottom: 1px solid #757667;
}

#body {
  #search-box {
    text-align: center;
    width: 100%;
  }

  button {
    margin-left: 0.5em;
  }
}

#profile_attr_list {
  list-style-type: none;

  li {
    padding: 5px 5px;
    border-bottom: solid 1px #d2d3bc;

  }
}

.list_attr_name {
  float: left;
  text-align: left;
  width: 120px;
}

.list_attr_content {
  margin-left: 100px;
  margin-right: 100px;
}

.edit_link {
  float: right;

  &:hover {
    border-bottom: solid 1px #9d9e8d;
  }
}

.clickable:hover{
  text-decoration: underline;
  color: #3F4035;
  cursor: pointer;
}
