.page_content {
  background-color: #EFF1D4;
  width: 80%;
  position: relative;
  left: 10%;
  padding: 1em;
  color: #555647;
  border: 1px solid #d8dac0;
}

.page_title {
  font-size: 1.5em;
  color: #2B2C24;
}

.section_title {
  font-size: 1.2em;
  color: #47483E;
  border-bottom: 1px solid #757667;
}

@mixin container {
  margin: 1em auto;
  border: solid thin lightgray;
  padding: 1em;
}

.container {
  @include container;
  width: 90%;
}

#search {
  display: flex;
  justify-content: center;
  width: 100%;

  #search-box {
    text-align: center;
    width: inherit;
  }

  button {
    margin-left: 0.5em;
  }
}