body {
  background-color: #EEF0C3;
  background: linear-gradient(to right, #f6f3ae, #fcfcd6, #f6f3ae);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}

.page_content{
  max-width: 90%;
  min-height: 90%;
  background-color: #EFF1D4;
  background: linear-gradient(to right, #f0e8da, #f0e8da, #EFF1D4,#f0e8da, #f0e8da);
  position: relative;
  padding: 1em;
  color: #555647;
  border: 1px solid #d8dac0;
  left: 4%;
}

.page_title {
  font-size: 1.5em;
  color: #2B2C24;
}

.section_title {
  font-size: 1.2em;
  color: #47483E;
  border-bottom: 1px solid #757667;
}

@mixin container {
}

.container {
  width: 90%;
  @include container;
}

#search {
  display: flex;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    justify-content: center;
    width: inherit;

    * {
      font-size: 200%;
    }

    #search-box {
      text-align: center;
      width: inherit;
    }

    button {
      margin-left: 0.5em;
    }

  }
}

.clickable:hover{
  cursor: pointer;
}
