#profile_attr_list {
  list-style-type: none;

  li {
    padding: 5px 5px;
    border-bottom: solid 1px #d2d3bc;

  }
}

.list_attr_name {
  float: left;
  text-align: left;
  width: 120px;
}

.list_attr_content {
  margin-left: 100px;
  margin-right: 100px;
}

.edit_link {
  float: right;
}

#change-photo {
  vertical-align: top;
  padding-left: 1em;

  form {
    display: inline;
  }
}

#change-photo-text {
  float: right;
}

.profile_picture_container {
  width: 120px;
  display: inline-block;

  img {
    height: 64px;
    width: 64px;
    border: 1px solid #d2d3bc;
  }
}

.fa-pencil {
  margin-right: 3px;
}

.edit_options {
  text-align: center;

  * {
    margin-right: 5px;
  }
}
