.categories-list {
  list-style: none;
  display: inline;
  padding: 0;

  & > li {
    display: inline;
    width: 50%;
  }
}

div .list_attr_content {
  display: inline;
  margin: 0;

  .category-box {
    display: inline-block;
  }
}

#edit-categories, #current-categories {
  display: inline-block;
}

#current-categories li {
  margin-left: 1em;
}

.edit-field {
  display: inline-block;

  .edit_options {
    text-align: center;

    * {
      margin-right: 5px;
    }
  }
}

#opening-time {
  margin-right: 10px;
}

.inputs {
  select {
    width: 7em;
  }
}

header {
  display: inline-block;
}

#delete-restaurant {
  float: right;
}

#photos-header {
  margin-bottom: 1.5em;
}

#photo-management {
  margin-top: 2em;
  display: block;

  form {
    display: inline;
  }

  #delete-photo {
    float: right;
  }
}
