.top-bar {
  div {
    vertical-align: middle;
    display: inline-block;
    width: 32%;
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;

    form {
      display: inline-block;
      margin-left: 0.5em;
    }
  }
}
