body {
  background: #EEF0C3 url("../res/background.jpg");
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 1250px;

}

.top-bar {
  background: #62AB93 linear-gradient(to right, #5da58b, #447C67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //border-bottom: 1px solid #447c67;
  border-bottom: 5px solid #227B5E;
  margin-bottom: 2em;
  overflow: hidden;
  z-index: 1;

  ul {
    list-style-type: none;
    margin: 0;
    display: inline;
  }

  li {
    display: inline;
    padding: 0.75em 0;
    a {
      text-decoration: none;
      vertical-align: text-bottom;
      color: #e9ffee;
    }
  }

  #home_button {
    min-width: 50%;
    padding: 4px 4px;

    img {
      padding-left: 10px;
      padding-top: 4px;
      float: left;
      width: 64px;
      height: 40px;
    }
  }

  #user-zone {
    float: right;

    #user_header {
      color: #e9ffee;
      padding-top: 12px;
      display: inline;
      span {
        padding-right: 10px;
      }
    }

    #user_action {
      color: #e9ffee;

      #user_login {
        display: inline;

        span {
          padding-right: 10px;
        }
      }

      #sign_up_text {
        padding-left: 0.5em;
      }

      form {
        display: inline;

        * {
          margin-right: 10px;
        }

      }
    }

    #login_form {
      width: 30%;
      input {
        width: 22%;
      }
    }

    #sign_up_text {
      cursor: pointer;
    }

    #sign_up_text:hover {
      color: #ffffff;
    }
  }

}

#sign_up_overlay {
  z-index: 11;
  position: absolute;

  // Center modal
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2em;
  border: 2px solid #c9c488;
  border-radius: 10px;

  background-color: #D25D00;
  width: 40%;

  h1 {
    margin-top: 0;
    font-size: 2em;
    color: white;
    text-align: center;
  }

  form {
    width: 100%;

    .columns {
      display: flex;
      flex-direction: row;
    }

    .column {
      &:first-child {
        margin-right: 0.2em;
      }

      &:last-child {
        margin-left: 0.2em;
      }
    }

    label {
      text-align: left;
      display: block;
      color: white;
      font-size: 90%;
      width: 100%;
      margin-left: 0.2em;
    }

    input {
      height: 2em;
      width: 100%;

      box-sizing: border-box;

      font-size: 125%;
      margin: 0.4em auto;
      padding: 0.2em;

      background-color: #AE4D00;

      border: 0;
      border-radius: 3px;
    }

    #output {
      display: block;
      color: #764a34;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

