body {
  background: #EEF0C3 url("../res/background.jpg");
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 1250px;
}

// No auto-border in Firefox when clicking buttons.
button::-moz-focus-inner {
  border: 0;
}

.top-bar {
  background: #62AB93 linear-gradient(to right, #5da58b, #447C67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 5px solid #227B5E;
  margin-bottom: 2em;
  overflow: hidden;
  z-index: 1;

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1em;
    display: inline;
  }

  li {
    display: inline;
    padding: 0.75em 0;
    a {
      text-decoration: none;
      vertical-align: text-bottom;
      color: #e9ffee;
    }
  }

  #home_button {
    min-width: 50%;
    padding: 4px 0;

    img {
      padding-top: 4px;
      width: 64px;
      height: 40px;
    }
  }

  #user-zone {
    float: right;

    #user_header {
      color: #e9ffee;
      padding-top: 12px;
      display: inline;
      span {
        padding-right: 10px;
      }
    }

    #user_action {
      color: #e9ffee;

      #user_login {
        display: inline;

        span {
          padding-right: 10px;
        }
      }

      #sign_up_text {
        padding-left: 0.5em;
      }

      form {
        display: inline;

        * {
          margin-right: 10px;
        }

      }
    }

    #login_form {
      width: 30%;
      input {
        width: 22%;
      }
    }

    #sign_up_text {
      cursor: pointer;
    }

    #sign_up_text:hover {
      color: #ffffff;
    }
  }

}

#sign_up_overlay {
  z-index: 11;
  position: absolute;

  // Center modal
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2em;
  border: 3px solid #408971;
  border-radius: 5px;

  background-color: #60A991;

  width: 40%;

  h1 {
    margin-top: 0;
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 0 2px rgba(0, 0, 0, 0.3);
  }

  form {
    width: 100%;

    .columns {
      display: flex;
      flex-direction: row;
    }

    .column {
      // Needed in order to make sure the columns don't grow
      // when elements are added to them.
      flex-basis: 0;
      flex-grow: 1;

      &:first-child {
        margin-right: 0.3em;
      }

      &:last-child {
        margin-left: 0.3em;
      }
    }

    label {
      text-align: left;
      display: block;
      color: white;
      font-size: 90%;
      width: 100%;
      margin-left: 0.2em;
      margin-top: 1em;
    }

    input {
      height: 2em;
      width: 100%;

      box-sizing: border-box;

      font-size: 125%;
      margin: 0.4em auto;
      padding: 0.2em 0.4em;

      // Makes the inputs darker than the overlay
      background-color: rgba(0, 0, 0, 0.2);

      border: 0;
      border-radius: 3px;
    }

    button {
      font-size: 125%;
      width: 100%;

      padding: 0.5em 0.2em;
      margin-top: 0.8em;

      border: 0;
      border-radius: 2px;

      text-shadow: 0px -1px #227B5E;

      &:active {
        transform: translate(0, 5px);
      }
    }

    #sign_up_cancel {
      background-color: rgba(0, 0, 0, 0.1);
      border-bottom: 5px solid rgba(0, 0, 0, 0.2);

      &:active {
        border-bottom: 0;
      }
    }

    #sign_up_submit {
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom: 5px solid rgba(0, 0, 0, 0.4);

      &:active {
        border-bottom: 0;
      }
    }

    #output {
      display: block;
      color: #764a34;
    }
  }
}

.error {
  color: #801815;

  i {
    margin-right: 0.3em;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

