.container {
  margin: 1em auto;
  border: solid thin lightgray;
  padding: 1em;
  width: 90%;
}

#profile {
  #profile-header {
    div {
      width: 49%;
      display: inline-block;
    }

    #name {
      font-weight: bold;
    }

    #edit-profile {
      text-align: right;
    }
  }
}

img {
  float: right;
}
