ul{
  margin: 0;
  padding-left: 1em;
  display: inline-block;
  vertical-align: top;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
}

#profile {
  display: inline;
  justify-content: space-between;

  #name {
    font-weight: bold;
    font-size: 2em;
    color: #3f4035;
  }

  #email{
    font-size: 1.2em;
  }

  #edit-profile{
    vertical-align: top;
    margin-left: 5px;
  }
}

.profile_picture_container{
  display: inline;
  z-index: 1;
  width: 200px;
  height: 200px;
  background: none;
  text-align: center;
  vertical-align: middle;

}

#profile_picture{
  width: 168px;
  height: 168px;
  border: 1px solid #acae99;
}

#restaurants {
  .restaurant-container {
    vertical-align: middle;
    overflow-x: hidden;

    span {
      display: block;
    }
  }

  li{
    padding-bottom: 10px;
  }
  .usr-rest-addr{
    padding-left: 5px;
  }

  .usr-rest-name:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}

