@import "common";

#profile {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  #name {
    font-weight: bold;
  }

  #edit-profile {
    display: block;
    text-align: right;
    margin-bottom: 1em;
  }

  #profile-picture {
    border: 1px solid grey;
  }
}

#restaurants {
  overflow-x: scroll;
  white-space: nowrap;

  .restaurant-container {
    @include container;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0;
    overflow-x: hidden;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    span {
      display: block;
    }
  }
}

img {
  float: right;
  width: 15em;
  height: 15em;
}
