@import "common";

ul{
  margin: 0;
  padding-left: 1em;
  display: inline-block;
  vertical-align: top;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
}

#restaurant-profile {

  .page_title{
    margin-top: 1em;
    margin-bottom:1em;
    border-bottom: none;
  }

  #rest-name {
    font-weight: bold;
    font-size: 2em;
    color: #3f4035;
  }

  #restaurant-information{
    width: 100%;
    margin-bottom: 2em;

    span {
      width: 45%;
      display: inline-block;
      padding: 10px;
      margin-right: 10px;
      vertical-align: top;
    }

    #restaurant-categ-div{
      margin-top: 30px;
    }

    #restaurant-desc-categ{
      div{
        width: 100%;
      }

      #restaurant-description-cont{
        height: 60%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }

  #rating{
    height: 1.2em;
  }

  .restaurant-general{
    display: inline;
    justify-content: space-between;
  }

  #restaurant-location-phone {

    .google-map {
      display: inline;

      .map {
        width: 100%;
      }
    }
  }

  #restaurant-description{
    width: 45%;
    height: 100%;
    display: inline-block;
    vertical-align: top;

  }


  #restaurant-profile-header {
    display: inline;


    #resturant-header {
      border-bottom: 1px solid #62AB93;


      #average {
        padding-left: 0.6em;

        .star {
          font-size: 200%;
          vertical-align: middle;
        }
      }
    }

    #restaurant-cost-for-two {

    }

    #restaurant-phone-number {

    }

    #restaurant-description {
      border: 1px solid #62AB93;
    }

  }

  #map {
    padding-top: 1em;
    height: 20em;
    width: 100%;
  }
}

#restaurant-gallery {
  display: flex;
  align-items: center;
  position: relative;

  .arrow_bg{
    width: 10%;
    position: absolute;
    top: 50%;
    background: rgba(0,0,0,0.18);
  }

  #right_arrow_bg{
    right: 0;
  }



  div{
    width: 100%;
    text-align: center;
  }

  img{
    width: 100%;
    margin-bottom: 20px;
  }

  i {
    padding: 0 0.2em;
    cursor: pointer;
  }
}

.restaurant-main-picture-container{
  display: inline;
  z-index: 1;
  width: 200px;
  height: 200px;
  background: none;
  text-align: center;
  vertical-align: middle;

  img{
    width: 168px;
    height: 168px;
    border: 1px solid #acae99;
  }
}

#reviews {
  .review-header-left {
    .review-title {
      font-weight: bold;
      font-size: 110%;
    }
  }

  .review-container{
    background: #d2ccb4;
    padding: 1em;
    border-radius: 3px;
  }
}

.response-header {
  display: flex;
  justify-content: space-between;

  .delete-response-button {
    padding: 0;
  }
}

.reviewer-name {
  font-size: 90%;
  color: black;
}

.review-date {
  font-size: 90%;
}

.review-comment {

}

.toggle-replies {
  color: black;
}

.add-reply {
  margin-top: 0.4em;
  display: flex;
  justify-content: center;

  textarea {
    margin-right: 1em;
    width: 100%;
    resize: none;
    overflow-y: scroll;
  }
}

.reply {
  padding: 1em;
  margin: 1em;
  background-color: #E3DBBB;
  border-radius: 5px;

  .reply-name {
    font-weight: bold;
    color: black;

  }

  .replier-restaurant {
    color: #e42c2c;
  }

  .reply-date {
    font-size: 90%;
  }

  .reply-text {
    word-wrap: break-word;
  }
}

#add-review {
  margin-top: 0.3em;

  #review-stars {
    font-size: 125%;
    margin-left: 0.5em;
    cursor: pointer;
    display: inline;
  }

  #review-comment {
    margin-top: 0.3em;
    display: block;
    resize: none;
    overflow-y: scroll;
  }
}

.review-container {
  margin-top: 0;
  margin-bottom: 1em;
}

.categories-list > li {
  display: none;
}

.select-time {
  display: none;
}

.open-info {
  color: green;
}

.closed-info {
  color: red;
}

#user-photos{
  margin-top: 20px;
}
