@import "common";

#restaurant-profile {
  #restaurant-profile-header {
    display: flex;
    justify-content: space-between;

    #restaurant-header {
      border-bottom: 1px solid #62AB93;

      #restaurant-name {
        font-weight: bold;
        font-size: 200%;
      }

      #average {
        padding-left: 0.6em;

        .star {
          font-size: 200%;
          vertical-align: middle;
        }
      }
    }

    #restaurant-cost-for-two {

    }

    #restaurant-phone-number {

    }

    #restaurant-description {
      border: 1px solid #62AB93;
    }

    #restaurant-gallery {
      display: flex;
      align-items: center;

      i {
        padding: 0 0.2em;
        cursor: pointer;
      }
    }
  }

  #map {
    padding-top: 1em;
    height: 20em;
    width: 100%;
  }
}

#reviews {
  .review-header-left {
    .review-title {
      font-weight: bold;
      font-size: 110%;
    }
  }
}

.response-header {
  display: flex;
  justify-content: space-between;

  .delete-response-button {
    padding: 0;
  }
}

.reviewer-name {
  font-size: 90%;
  color: black;
}

.review-date {
  font-size: 90%;
}

.review-comment {
  border: solid 1px #62AB93;
}

.toggle-replies {
  color: black;
}

.add-reply {
  margin-top: 0.4em;
  display: flex;
  justify-content: center;

  textarea {
    margin-right: 1em;
    width: 100%;
    resize: none;
    overflow-y: scroll;
  }
}

.reply {
  padding: 1em;
  margin: 1em;
  background-color: #EAF363;
  border-radius: 5px;

  .reply-name {
    font-weight: bold;
    color: black;

  }

  .replier-restaurant {
    color: #447c67;
  }

  .reply-date {
    font-size: 90%;
  }

  .reply-text {
    word-wrap: break-word;
  }
}

#add-review {
  margin-top: 0.3em;

  #review-stars {
    font-size: 125%;
    margin-left: 0.5em;
    cursor: pointer;
    display: inline;
  }

  #review-comment {
    margin-top: 0.3em;
    display: block;
    resize: none;
    overflow-y: scroll;
  }
}

.review-container {
  @include container;
  margin-top: 0;
  margin-bottom: 1em;
}

.categories-list > li {
  display: none;
}
