#body {
  margin: auto;
  width: 80%;
}

#search-results {
  #search-tabs {
    list-style: none;
    margin-bottom: 0;
    padding-left: 1em;

    li {
      a {
        text-decoration: none;
        color: black;
      }
    }

    .tab {
      display: inline-block;
      padding: 0.2em 0.5em;
      background-color: #62AB93;

    }

    .active {
      background-color: green;
    }
  }

  #restaurants {
    .restaurant-name {
      font-weight: bold;
      font-size: 125%;
    }

    .restaurant-average {
      padding-left: 0.4em;
    }

    .restaurant-address {
      font-size: 90%;
    }
  }

  #users {
    #user-name {
      font-weight: bold;
      font-size: 125%;
    }

    #user-username {
      font-size: 90%;
    }
  }
}

.search-container {
  width: 90%;
  padding: 0.2em;
  margin: 1em auto 0 auto;
  border: 1px solid gray;
}

#search-box {
  width: 100%;
}

#categories {
  list-style: none;
  padding-left: 0;

  .category-box {
    min-width: 25%;
    display: inline-block;
  }
}

#users {
  display: none;
}

#body {
  background: #EFF1D4 linear-gradient(to right, #f0e8da, #f0e8da, #EFF1D4, #f0e8da, #f0e8da);
  position: relative;
  color: #555647;
  padding: 3em;
}

div#slider {
  margin-top: 4em;
  margin-bottom: 2em;
}

ul#search-tabs {
  margin-left: 2em;
}

div.container {
  border: 1px solid gray;
  padding: 0.25em;
  border-radius: 0.3em;

  &:not(:last-child) {
    margin-bottom: 0.25em;
  }
;
}
